<div *ngIf="loading">
    Loading dashboard...
  </div>
  
  <div *ngIf="!loading">
    <app-nav-bar></app-nav-bar>
    <div *ngIf="userRole === 'Administrator' || userRole === 'Principal'" class="admin-dashboard">
        <app-sidebar (sectionSelected)="onSectionSelected($event)"></app-sidebar>
        <div class="admin-content">
            <app-role-management *ngIf="selectedSection === 'user-list'"></app-role-management>
            <app-create-parent *ngIf="selectedSection === 'parent-create'"></app-create-parent>
        </div>
    </div>

    <div *ngIf="userRole === 'Teacher'" class="teacher-dashboard">
        <app-sidebar (sectionSelected)="onSectionSelected($event)"></app-sidebar>
        <div class="teacher-content">
            <app-student-registration *ngIf="selectedSection === 'student-register'"></app-student-registration>
            <app-student-list *ngIf="selectedSection === 'student-list'"></app-student-list>
            <app-test-creation *ngIf="selectedSection === 'test-create'"></app-test-creation>
            <app-test-list *ngIf="selectedSection === 'test-list'"></app-test-list>
        </div>
    </div>

    <div *ngIf="userRole === 'Parent'">
        <p>Your role: {{ userRole }}</p>
        <p>Please download and use our app "AppName".</p>
    </div>
  </div>
  